{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        vous cherchez une page qui n'existe pas nous vous conseillons de 
        <a href="{{ path('homepage') }}">retourner à l'accueil</a>.
    </p>
{% endblock %}